/* home separation radius*/

.elementor-8 .elementor-element.elementor-element-8f5a0d1.e-con{
    border-radius: 0% 0% 12% 12%;
    position: relative;
    overflow: hidden;
    border-bottom: 8px solid #E3D9D0;
  }

